/* --- Custom TextFields --- */
.search-textfield {
    -fx-background-color: #F8F6F0;
    -fx-background-radius: 8px;
    -fx-border-color: #E2DDD5;
    -fx-border-radius: 8px;
    -fx-padding: 0px 10px 0px 12px;
    -fx-text-fill: #333333;
}

.search-textfield:focused {
    -fx-border-color: #500A0E;
    -fx-background-color: #FFFFFF;
}

/* --- Action Buttons --- */
.filter-btn {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #444444;
    -fx-border-color: #DCDCDC;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 0px 16px 0px 16px;
    -fx-cursor: hand;
}

.add-action-btn {
    -fx-background-color: #500A0E;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-padding: 8px 14px 8px 14px;
    -fx-cursor: hand;
}

/* --- MODERN TABLE VIEW STYLING --- */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #C5A059;
    -fx-background-radius: 8px 8px 0px 0px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.table-view .table-cell {
    -fx-padding: 8px;
    -fx-text-fill: #555555;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #F4F4F4 transparent;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #00A6DA;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-text-fill: #FFFFFF;
}

/* --- Scrollbars --- */
.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #DDDDDD;
    -fx-background-radius: 4em;
}

.table-view .scroll-bar .button {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

/* --- Pagination --- */
.pagination-inactive {
    -fx-background-color: transparent;
    -fx-text-fill: #666666;
    -fx-cursor: hand;
}

.pagination-active {
    -fx-background-color: #500A0E;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4px;
    -fx-font-weight: bold;
}